@page "/"
@using System.Globalization
<h2>Machines Status</h2> 
<div class="container">
	<div class="row">
		<div class="col-14">
			<table class="table table-image text-white" cellspacing="0">
				<!----<thead>
					<tr>
						<th scope="col">Serial Number</th>
					</tr>
				</thead>!-->
				<tbody>
					<tr>
						<td class="align-middle"><span class="font-weight-bold">S.No: </span>5123</td>
						<td class="w-25">
							<img src="_content/WebviewAppShared/intimidator.jpg" class="img-fluid img-thumbnail border border-3 border-success w-75" alt="Intimidator">
							<br /><span class="font-weight-bold" style="margin-left:2.75rem;">Intimidator</span>
						</td>
                        <td class="align-middle font-weight-bold w-25 h-25">
							<RadzenChart class="h-25 col-sm-12" style="margin-bottom:-2rem">
								<RadzenLineSeries Smooth="@smooth" Data="@revenue2019" LineType="LineType.Dashed" ValueProperty="Revenue"/>
								<RadzenLegend Visible="false" />
								<RadzenLineSeries Smooth="@smooth" Data="@revenue2020" ValueProperty="Revenue"/>
									<RadzenLegend Visible="false" />
								<!--<RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />
								<RadzenValueAxis Formatter="@FormatAsUSD">
									<RadzenGridLines Visible="true" />
								</RadzenValueAxis>---->
							</RadzenChart><br /><span style="margin-left:3.5rem">Status:<span class="text-success">GOOD</span></span>
						</td>
						<td class="align-middle"><span class="font-weight-bold">Last Tested:</span>12th May 2022</td>
					</tr>
					<tr>
						<td class="align-middle"><span class="font-weight-bold">S.No: </span>7352</td>
						<td class="w-25">
							<img src="_content/WebviewAppShared/annihilator.jpg" class="img-fluid img-thumbnail border border-3 border-success w-75" alt="Annihilator">
							<br /><span class="font-weight-bold" style="margin-left:2.75rem;">Annihilator</span>
						</td>
						<td class="align-middle font-weight-bold w-25 h-25">
							<RadzenChart class="h-25 col-sm-12" style="margin-bottom:-2rem">
								<RadzenLineSeries Smooth="@smooth" Data="@revenue2019" LineType="LineType.Dashed" ValueProperty="Revenue" />
								<RadzenLegend Visible="false" />
								<RadzenLineSeries Smooth="@smooth" Data="@revenue2020" ValueProperty="Revenue" />
								<RadzenLegend Visible="false" />
								<!--<RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />
								<RadzenValueAxis Formatter="@FormatAsUSD">
									<RadzenGridLines Visible="true" />
								</RadzenValueAxis>---->
							</RadzenChart><br /><span style="margin-left:3.5rem">Status:<span class="text-warning">Monitor</span></span>
						</td>
						<td class="align-middle"><span class="font-weight-bold">Last Tested:</span>10th September 2022</td>
					</tr>
					<tr>
						<td class="align-middle"><span class="font-weight-bold">S.No: </span>5123</td>
						<td class="w-25">
							<img src="_content/WebviewAppShared/intimidator.jpg" class="img-fluid img-thumbnail border border-3 border-success w-75" alt="Intimidator">
							<br /><span class="font-weight-bold" style="margin-left:2.75rem;">Intimidator</span>
						</td>
						<td class="align-middle font-weight-bold w-25 h-25">
							<RadzenChart class="h-25 col-sm-12" style="margin-bottom:-2rem">
								<RadzenLineSeries Smooth="@smooth" Data="@revenue2019" LineType="LineType.Dashed" ValueProperty="Revenue" />
								<RadzenLegend Visible="false" />
								<RadzenLineSeries Smooth="@smooth" Data="@revenue2020" ValueProperty="Revenue" />
								<RadzenLegend Visible="false" />
								<!--<RadzenCategoryAxis Padding="20" Formatter="@FormatAsMonth" />
								<RadzenValueAxis Formatter="@FormatAsUSD">
									<RadzenGridLines Visible="true" />
								</RadzenValueAxis>---->
							</RadzenChart><br /><span style="margin-left:3.5rem">Status:<span class="text-danger">Service</span></span>
						</td>
						<td class="align-middle"><span class="font-weight-bold">Last Tested:</span>13th October 2022</td>
					</tr>
				</tbody>
			</table>
			<div class="col text-center">
				<button type="button" class="btn btn-secondary btn-lg">Start Testing</button>
				<button type="button" class="btn btn-secondary btn-lg">Review Machines</button>
			</div>
		</div>
	</div>
</div>
@code
{
	bool smooth = false;
    bool showDataLabels = false;

    class DataItem
    {
        public string Date { get; set; }
        public double Revenue { get; set; }
    }

    string FormatAsUSD(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-US"));
    }

    string FormatAsMonth(object value)
    {
        if (value != null)
        {
            return Convert.ToDateTime(value).ToString("MMM");
        }

        return string.Empty;
    }

    DataItem[] revenue2019 = new DataItem[] {
        new DataItem
        {
            
        },
    };

    DataItem[] revenue2020 = new DataItem[] {
        new DataItem
        {
           
        },
    };
}