@page "/settings"
@using WebviewAppShared.Data
@using System.Data
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JSRuntime
<style>
    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table thead th {
            background-color: #333;
            color: #fff;
            font-weight: bold;
            padding: 8px;
            text-align: left;
        }

        .table tbody td {
            padding: 8px;
            border-bottom: 1px solid #ccc;
        }

        .table tbody {
            background-color: #f2f2f2;
        }

        .table tbody tr:hover {
            background-color: #e0e0e0;
        }

    .scrollable-container {
        max-height: 400px;
        overflow-y: scroll;
    }
</style>
<h1>Settings:</h1> 


<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="font-weight-bold" style="margin-left:2.75rem;">Sensor Configuration</span>
            
        </div>
    </div>
    <div class="row">
        <form>
            
            
            <div class="form-group row">
                    <label for="machine_no" class="col-sm-5 col-form-label">Sensor Name</label>
                    <div class="col-sm-7">
                    <input type="text" class="form-control" id="sensor_name" placeholder="cDAQ1Mod1" @bind-value="@SensorForm.S2" />
                    </div>
                    
             </div>
            <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">DAQ Model</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="NI 9230 (BNC)" @bind-value="@SensorForm.S3" />
                </div>

            </div>
            <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">DAQ SerialNumber</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="33966660" @bind-value="@SensorForm.S4" />
                </div>

            </div>
            <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">Accelerometer</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="#1 PCB 356A15 LW336579" @bind-value="@SensorForm.S5" />
                </div>

            </div>
            <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">Accel X Sensitivity</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="102.4" @bind-value="@SensorForm.S6" />
                </div>

            </div>
            <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">Accel Y Sensitivity</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="104.1" @bind-value="@SensorForm.S7" />
                </div>

            </div>
            <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">Accel Z Sensitivity</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="102.9" @bind-value="@SensorForm.S8" />
                </div>

            </div>
            <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">Sampling Frequency</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="25600" @bind-value="@SensorForm.S9" />
                </div>

            </div>

            <button type="button" class="btn btn-secondary btn-lg" @onclick="RunCommand">Add Sensor</button>
        </form>
    </div>
</div>
<br />

<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="font-weight-bold" style="margin-left:2.75rem;">Machine Configuration</span>

        </div>
    </div>
<div class="row">
    <form>


        <div class="form-group row">
            <label for="machine_no" class="col-sm-5 col-form-label">Machine S.NO</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="machine_serialNumber" placeholder="5123" @bind-value="@MachineForm.M1" />
            </div>

        </div>
        <div class="form-group row">
            <label for="machine_no" class="col-sm-5 col-form-label">Machine Name</label>
                <div class="col-sm-7">
                    <select class="form-select rounded-lg" style="width: 150px;height:30px;" asp-for="machine_name" @bind="@MachineForm.M2">
                        <option value="select" selected>-- Select --</option>
                        @foreach (var item in machines)
                        {
                            <option value=@item.Machine_Name>@item.Machine_Name</option>
                        }
                    </select>
                </div>

        </div>
           @* <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">Machine Hours</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="machine_serialNumber" placeholder="23345" @bind-value="@MachineForm.M3" />
                </div>

            </div>
            <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">Machine Status</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="machine_serialNumber" placeholder="Good" @bind-value="@MachineForm.M4" />
                </div>

            </div>*@

            <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">Machine Size</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="machine_serialNumber" placeholder="96-230 Annihilator" @bind-value="@MachineForm.M6" />
                </div>

            </div>
        <button type="button" class="btn btn-secondary btn-lg" @onclick="AddMachine">Add Machine</button>
    </form>
    
</div>
    <h2>@Message</h2>
    <div class="row">
        <div class="col-12">
            <div class="scrollable-container">
                <h2>Sensor Details</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Sensor Name</th>
                            <th>DAQ Model</th>
                            <th>DAQ Serial Number</th>
                            <th>Accelerometer</th>
                            <th>Accel X Sensitivity</th>
                            <th>Accel Y Sensitivity</th>
                            <th>Accel Z Sensitivity</th>
                            <th>Sampling Frequency</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop through sensor data and display rows -->
                        @foreach (var sensor in sensorsList)
                        {
                            <tr>
                                <td>@sensor.S2</td>
                                <td>@sensor.S3</td>
                                <td>@sensor.S4</td>
                                <td>@sensor.S5</td>
                                <td>@sensor.S6</td>
                                <td>@sensor.S7</td>
                                <td>@sensor.S8</td>
                                <td>@sensor.S9</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <h2>Machine Details</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Machine Serial Number</th>
                            <th>Machine Name</th>
                            <th>Machine Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop through machine data and display rows -->
                        @foreach (var machine in machinesList)
                        {
                            <tr>
                                <td>@machine.M1</td>
                                <td>@machine.M2</td>
                                <td>@machine.M6</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

@code{

    public Database dbConn { get; set; }
    public DataTable dataTable { get; set; }
    public S SensorForm { get; set; }
    public string query { get; set; }
    public string query_2 { get; set; }
    public string Message { get; set; }
    public string fileName { get; set; }
    public M MachineForm { get; set; }
    //public MachineModel MachineModel { get; set; }
    public List<MachineModel> machines { get; set; }
    public List<M> machinesList { get; set; } = new List<M>();
    public string SensorMessage { get; set; }
    public string MachineMessage { get; set; }
    public List<S> sensorsList { get; set; } = new List<S>();

    protected override Task OnInitializedAsync()
    {
        dbConn = new Database();
        SensorForm = new S();
        MachineForm = new M();

        GetMachineType();
        FetchSensorData();
        FetchMachineData();

        return base.OnInitializedAsync();
    }

    public void RunCommand()
    {
        query = "INSERT INTO S(S2, S3,S4,S5,S6,S7,S8,S9)VALUES('" + SensorForm.S2 + "','" + SensorForm.S3 + "','" + SensorForm.S4 + "','" + SensorForm.S5 + "','" + SensorForm.S6 + "','" + SensorForm.S7 + "','" + SensorForm.S8 + "','" + SensorForm.S9 + "')";
        dbConn.InsertData(query);
        SensorForm = new S();
        Message = "Data Saved!";
        FetchSensorData();
    }

    public void AddMachine()
    {
        try
        {
            //fileName = returnImageName(MachineForm.Image);
            //query = "INSERT INTO MachineDetails(SerialNumber, Image, Name)VALUES('" + MachineForm.SerialNumber + "','" + fileName + "','" +
            //    MachineForm.Name
            //    + "')";

            query_2 = $"SELECT count(*) from M where M1 = {MachineForm.M1}";
            var count = dbConn.GetCount(query_2);
            if (count == 0)
            {
                query = "INSERT INTO M(M1,M2,M6)VALUES('" + MachineForm.M1 + "','" +
                MachineForm.M2
                + "','" +
                MachineForm.M6
                + "')";
                dbConn.InsertData(query);
                MachineForm = new M();
                Message = "Data Saved!";
                FetchMachineData();
            }
            else
            {
                Message = "Already Exists!";
            }
        }
        catch (Exception)
        {
            ShowAlert("Please enter valid data");
        }

    }
    
    public void GetMachineType()
    {
        //query = "SELECT * FROM Machine";
        //dataTable = dbConn.GetData(query);

        machines = new List<MachineModel>();

        MachineModel mch = new MachineModel();
        MachineModel mch2 = new MachineModel();
        MachineModel mch3 = new MachineModel();

        mch.Id = 1;
        mch.Machine_Name = "Annihilator";
        machines.Add(mch);

        mch2.Id = 2;
        mch2.Machine_Name = "Intimidator";
        machines.Add(mch2);

        mch3.Id = 3;
        mch3.Machine_Name = "Eleminator";
        machines.Add(mch3);

        //for (int i = 0; i < dataTable.Rows.Count; i++)
        //{
        //    MachineModel mch = new MachineModel();
        //    mch.Id = Convert.ToInt32(dataTable.Rows[i]["Id"]);
        //    mch.Machine_Name = Convert.ToString(dataTable.Rows[i]["Machine_Name"]);
        //    machines.Add(mch);
        //}

    }

    public String returnImageName(String imagePath)
    {
        String[] files=imagePath.Split('\\');
        return files[files.Length - 1]; 

    }
    public async Task FetchSensorData()
    {
        string query = "select * from S";
        dataTable = dbConn.GetData(query);

        foreach (DataRow row in dataTable.Rows)
        {
            S sensors = new S();
            sensors.S1 = Convert.ToInt32(row["S1"]);
            sensors.S2 = row["S2"].ToString();
            sensors.S3 = row["S3"].ToString();
            sensors.S4 = Convert.ToInt32(row["S4"]);
            sensors.S5 = row["S5"].ToString();
            sensors.S6 = Convert.ToDouble(row["S6"]);
            sensors.S7 = Convert.ToDouble(row["S7"]);
            sensors.S8 = Convert.ToDouble(row["S8"]);
            sensors.S9 = Convert.ToInt32(row["S9"]);

            sensorsList.Add(sensors);
        }
        // Update the UI
        StateHasChanged();
    }
    public async Task FetchMachineData()
    {
        string query = "select M1,M2,M6 from M";
        dataTable = dbConn.GetData(query);

        foreach (DataRow row in dataTable.Rows)
        {
            M mL = new M();
            mL.M1 = row["M1"].ToString();
            mL.M2 = row["M2"].ToString();
            mL.M6 = row["M6"].ToString();
            machinesList.Add(mL);
        }
        // Update the UI
        StateHasChanged();
    }
        private void ShowAlert(string message)
        {
            // Invoke JavaScript alert function to show the alert
        JSRuntime.InvokeVoidAsync("alert", message);
        }
}