@page "/settings"
@using WebviewAppShared.Data
@using System.Data

<h1>Settings:</h1> 


<div class="container">
    <div class="row">
        <div class="col-12">
            <span class="font-weight-bold" style="margin-left:2.75rem;">Sensor Configuration</span>
            
        </div>
    </div>
    <div class="row">
        <form>
            
            
            <div class="form-group row">
                    <label for="machine_no" class="col-sm-5 col-form-label">Sensor Name</label>
                    <div class="col-sm-7">
                    <input type="text" class="form-control" id="sensor_name" placeholder="cDAQ1Mod1" @bind-value="@SensorForm.name" />
                    </div>
                    
             </div>
            <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">Minimum Value</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="min" placeholder="-5" @bind-value="@SensorForm.min" />
                </div>

            </div>
            <div class="form-group row">
                <label for="machine_no" class="col-sm-5 col-form-label">Maximum Value</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="max" placeholder="5" @bind-value="@SensorForm.max" />
                </div>

            </div>
            <button type="button" class="btn btn-secondary btn-lg" @onclick="RunCommand">Add Sensor</button>
        </form>
    </div>
</div>
<br />
<div class="container">
<div class="row">
    <div class="col-12">
        <span class="font-weight-bold" style="margin-left:2.75rem;">Machine Configuration</span>

    </div>
</div>
<div class="row">
    <form>


        <div class="form-group row">
            <label for="machine_no" class="col-sm-5 col-form-label">Machine S.NO</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="machine_serialNumber" placeholder="5123" @bind-value="@MachineForm.SerialNumber" />
            </div>

        </div>
        <div class="form-group row">
            <label for="machine_no" class="col-sm-5 col-form-label">Machine Name</label>
                <div class="col-sm-7">
                    <select class="form-select rounded-lg" style="width: 150px;height:30px;" asp-for="machine_name" @bind="@MachineForm.Name">
                        <option value="select" selected>-- Select --</option>
                        @foreach (var item in machines)
                        {
                            <option value=@item.Machine_Name>@item.Machine_Name</option>
                        }
                    </select>
                </div>

        </div>
        <div class="form-group row">
            <label for="machine_no" class="col-sm-5 col-form-label">Machine Image</label>
            <div class="col-sm-7">
                    <input type="file" id="myFile" name="file" accept="image/*" @bind-value="@MachineForm.Image" />
                @*<input type="text" class="form-control" id="machine_image" placeholder="intimator.jpg" @bind-value="@MachineForm.Image" />*@

            </div>

        </div>


        <button type="button" class="btn btn-secondary btn-lg" @onclick="AddMachine">Add Machine</button>
    </form>
</div>
</div>

@code{

    public Database dbConn { get; set; }
    public DataTable dataTable { get; set; }
    public Sensor SensorForm { get; set; }
    public string query { get; set; }
    public string Message { get; set; }
    public string fileName { get; set; }
    public Machine MachineForm { get; set; }
    public MachineModel MachineModel { get; set; }
    public List<MachineModel> machines { get; set; }

    protected override Task OnInitializedAsync()
    {
        dbConn = new Database();
        SensorForm = new Sensor();
        MachineForm = new Machine();
        GetData();
        //Object for Machines Model
        MachineModel = new MachineModel();
        return base.OnInitializedAsync();
    }

    public void RunCommand()
    {
        query = "INSERT INTO SensorDetails(Name, Min, Max)VALUES('" + SensorForm.name + "','" + SensorForm.min + "','" + SensorForm.max + "')";
        dbConn.InsertData(query);
        SensorForm = new Sensor();
        Message = "Data Saved!";
    }

    public void AddMachine()
    {
        fileName = returnImageName(MachineForm.Image);
        query = "INSERT INTO MachineDetails(SerialNumber, Image, Name)VALUES('" + MachineForm.SerialNumber + "','" + fileName + "','" +
            MachineForm.Name
            + "')";
        dbConn.InsertData(query);
        MachineForm = new Machine();
        Message = "Data Saved!";
    }
    public void GetData()
    {
        query = "SELECT * FROM Machine";
        dataTable = dbConn.GetData(query);

        machines = new List<MachineModel>();

        for (int i = 0; i < dataTable.Rows.Count; i++)
        {
            MachineModel mch = new MachineModel();
            mch.Id = Convert.ToInt32(dataTable.Rows[i]["Id"]);
            mch.Machine_Name = Convert.ToString(dataTable.Rows[i]["Machine_Name"]);
            machines.Add(mch);
        }

    }

    public String returnImageName(String imagePath)
    {
        String[] files=imagePath.Split('\\');
        return files[files.Length - 1]; 

    }
}