@page "/test_setup"
@using WebviewAppShared.Data
@using System.Data
@inject NavigationManager navigationManager
@inject Microsoft.JSInterop.IJSRuntime JSRuntime

<h1>Test Setup</h1>

<span class="danger">
    @Message
</span>
<br />


<div class="container">
    <div class="row">
        <div class="btn-group btn-breadcrumb breadcrumb-default bg-dark">
            <div class="btn btn-info"><b>DEFINE</b></div>
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">CAPTURE</a>
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">ANALYZE</a>
            <a href="#" class="btn btn-default visible-lg-block visible-md-block text-white font-weight-bold">REVIEW</a>
        </div>
        <p></p>
    </div>

    @foreach (var mch in machines)
    {
        @if (objTest.TD2 == mch.M1)
        {
            machine = mch.M2;
        }

    }

    <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3 card bg-transparent">
            <h3>@machine</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 card bg-transparent">
            <form>
                <div class="form-group row">
                    <label for="machine_no" class="col-sm-5 col-form-label">Machine #</label>
                    <div class="col-sm-7">
                        <select class="form-select rounded-lg" style="width: 135px;height:30px;" asp-for="machine_name" @bind="@objTest.TD2">
                            <option value="select" selected>Select Machine </option>
                            @foreach (var item in machines)
                            {
                                <option value=@item.M1>@item.M1 @item.M2 </option>
                            }
                        </select>
                        @*<input type="text" class="form-control" id="machine_no" placeholder="0000" @bind-value="@objTest.MachineSerialNumber" />*@
                    </div>

                </div>
                <div class="form-group row">
                    <label for="hours" class="col-sm-5 col-form-label">Hours (Required)</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="hours" @bind-value="@objTest.TD3" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="operator" class="col-sm-5 col-form-label">Operator (Required)</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="operator" @bind-value="@objTest.TD4" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mode" class="col-sm-5 col-form-label">Mode</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="mode" @bind-value="@objTest.TD5" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sensor_no" class="col-sm-5 col-form-label">Sensor #</label>
                    <div class="col-sm-7">
                        <select class="form-select rounded-lg" style="width: 135px;height:30px;" asp-for="sensor_name" @bind="@objTest.TD6">
                            <option value="select" selected>Select Sensor </option>
                            @foreach (var item in sensors)
                            {
                                <option value=@item.S2>@item.S2</option>
                            }
                        </select>
                        @*<input type="text" class="form-control" id="sensor_no" placeholder="0000" @bind-value="@objTest.Sensor" />*@
                    </div>
                </div>
                @*<div class="form-group row">
                <label for="date" class="col-sm-5 col-form-label">Date</label>
                <div class="col-sm-7">
                <input type="date" class="form-control" id="date" @bind-value="@objTest.Date" />
                </div>
                </div>*@
            </form>
        </div>


        <div class="col-sm-9 card bg-transparent">
            <table id="maintenance-table" class="table table-image text-white">
                <thead class="bg-info">
                    <tr>
                        <th scope="col">Axis</th>
                        <th scope="col">Component</th>
                        <th scope="col">Task</th>
                        <th scope="col">Notes</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                
                <tbody>
                    @if (machine == "Intimidator")
                    {
                        <tr class="table-secondary text-black-50">
                            <td>
                                <select name="axis" id="axis" @bind="@objMaintenance.Axis">
                                    <option value="spindle">Spindle</option>
                                    <option value="w">W</option>
                                    <option value="x">X</option>
                                    <option value="y">Y</option>
                                    <option value="z">Z</option>
                                </select>
                            </td>
                            @if (objMaintenance.Axis != null)
                            {
                                flag = objMaintenance.Axis;
                            }
                            @*<td>
                                @if (flag == "spindle")
                                {
                                    <select name="components" id="components">
                                        <option value="DE Bearing">DE Bearing</option>
                                        <option value="ODE Bearing">ODE Bearing</option>
                                    </select>
                                }
                                else if (flag == "w" || flag == "x" || flag == "y")
                                {
                                    <select name="components" id="components">
                                        <option value="Ballscrew DE Bearing">Ballscrew DE Bearing</option>
                                        <option value="Ballscrew ODE Bearing">Ballscrew ODE Bearing</option>
                                        <option value="Ballscrew">Ballscrew</option>
                                        <option value="Linear Bearing">Linear Bearing</option>
                                    </select>
                                }
                                else if (flag == "z")
                                {
                                    <select name="components" id="components">
                                        <option value="Ballscrew DE Bearing">Ballscrew DE Bearing</option>
                                        <option value="Ballscrew Nut">Ballscrew Nut</option>
                                        <option value="Linear Bearing">Linear Bearing</option>
                                    </select>
                                }
                            </td>*@
                            <td>
                                <select name="task" id="task">
                                    <option value="lubricated">Lubricated</option>
                                    <option value="replaced">Replaced</option>
                                    <option value="fan cleaned">Fan Cleaned</option>
                                    <option value="other">Other</option>
                                </select>
                            </td>
                            <td><input type="text" @bind-value="@objMaintenance.Note" /></td>
                            <td><button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd">Add More</button></td>
                        </tr>
                    }
                    else if (machine == "Annihilator")
                    {
                        <tr class="table-secondary text-black-50">
                            <td>
                                <select name="axis" id="axis" @bind="@objMaintenance.Axis">
                                    <option value="spindle">Spindle</option>
                                    <option value="x">X</option>
                                    <option value="y">Y</option>
                                    <option value="z">Z</option>
                                </select>
                            </td>
                            @if (objMaintenance.Axis != null)
                            {
                                flag = objMaintenance.Axis;
                            }
                            <td>
                                @if (flag == "spindle")
                                {
                                    <select name="components" id="components">
                                        <option value="ODE Bearing">ODE Bearing</option>
                                    </select>
                                }
                                else if (flag == "x" || flag == "y")
                                {
                                    <select name="components" id="components">
                                        <option value="Ballscrew">Ballscrew</option>
                                        <option value="Linear Bearing">Linear Bearing</option>
                                    </select>
                                }
                                else if (flag == "z")
                                {
                                    <select name="components" id="components">
                                        <option value="Ballscrew">Ballscrew</option>
                                        <option value="Ballscrew DE Bearing">Ballscrew DE Bearing</option>
                                        <option value="Linear Bearing">Linear Bearing</option>
                                    </select>
                                }
                            </td>
                            <td>
                                <select name="task" id="task">
                                    @if (flag != "spindle")
                                    {
                                        <option value="lubricated">Lubricated</option>
                                    }
                                    <option value="replaced">Replaced</option>
                                </select>
                            </td>
                            <td><input type="text" @bind-value="@objMaintenance.Note" /></td>

                            <td>
                                <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd"> 
                                @*@onclick="@(async () => {
        await JSRuntime.InvokeVoidAsync("addRow"); // Pass a reference to this component
    })">*@
                                    Add More
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="button" id="btnSubmit" class="btn btn-primary btn-md pull-right btn-sm" @onclick="RunCommand">Submit</button>

        </div>
    </div>

    @*<button type="button" class="btn btn-secondary btn-lg" @onclick="RunCommand">Next</button>*@
</div>

@code {

    public Database dbConn { get; set; }
    public DataTable dataTable { get; set; }
    public TD objTest { get; set; }
    public List<Test> tests { get; set; }
    public Maintenance objMaintenance { get; set; }
    public List<Maintenance> maintenances { get; set; }
    public Machine objMachine { get; set; }
    public List<M> machines { get; set; }
    public List<S> sensors { get; set; }
    public string query { get; set; }
    public string query2 { get; set; }
    public string query3 { get; set; }
    public string sensorDetailsQuery { get; set; }
    public string Message { get; set; }
    public string flag { get; set; }
    public int lineCount { get; set; }
    public string machine { get; set; }
    public TD newTestDetail { get; set; }
    
    public string flag_machineName { get; set; }

    protected override Task OnInitializedAsync()
    {
        objTest = new TD();
        dbConn = new Database();
        objMaintenance = new Maintenance();
        objMachine = new Machine();
        newTestDetail = new TD();
        GetData();
        GetSensorData();
        flag = "spindle";
        lineCount = 1;

        return base.OnInitializedAsync();
    }
    //protected override async System.Threading.Tasks.Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        await JSRuntime.InvokeVoidAsync("eval", @"
    //        function addRow() { 
    //            var newRow = $(this).closest('tr').clone();

    //            newRow.find('#btnAdd').remove();
                
    //            // Clear any input values in the new row
    //            //newRow.find('input').val('');
                
    //            // Append the new row to the table body
    //            $('#maintenance-table tbody').append(newRow);
    //           }
    //        ");
    //    }
    //}
    protected override async System.Threading.Tasks.Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("eval", @"
        function addRow() {
            //var newRow = $(button).closest('tr').clone();

            //newRow.find('#btnAdd').remove();

            //// Clear any input values in the new row
            ////newRow.find('input').val('');

            //// Append the new row to the table body
            //$('#maintenance-table tbody').append(newRow);

            //var tableBody = document.querySelector('#maintenance-table tbody');
            //    var newRow = tableBody.querySelector('tr').cloneNode(true);

            //    // Update unique IDs for the new row's elements if needed

            //    tableBody.appendChild(newRow);
            rowCount+=1;
           }
        ");
        }
    }
   
    public void RunCommand()
    {

        DateTime datetime = DateTime.Now;

        query = "INSERT INTO TD(TD2, TD3, TD4, TD5, TD6, TD7)VALUES('" + objTest.TD2 + "','" + objTest.TD3 + "','" + objTest.TD4 + "','" + objTest.TD5 + "','" + objTest.TD6 + "','" + datetime + "')";
        dbConn.InsertData(query);

        // Event data table to be added in place of Maintenance

        //query2 = "INSERT INTO Maintenance(MachineSerialNumber, Axis, Component, Task, Note, TestId)VALUES('" + objTest.MachineSerialNumber + "','" + objMaintenance.Axis + "','" + objMaintenance.Component + "','" + objMaintenance.Task + "','" + objMaintenance.Note + "','" + objTest.TestId + "')";
        //dbConn.InsertData(query2);
        query3 = "SELECT * FROM TD ORDER BY TD1 DESC LIMIT 1";
        dataTable = dbConn.GetData(query3);
        newTestDetail.TD1 = Convert.ToInt32(dataTable.Rows[0]["TD1"]);
        newTestDetail.TD6 = Convert.ToString(dataTable.Rows[0]["TD6"]);

        navigationManager
            .NavigateTo($"/service_testing/{newTestDetail.TD1}/{newTestDetail.TD6}");

        Message = "Data Saved! " + newTestDetail.TD1;
    }

    public void GetData()
    {
        query = "SELECT * FROM M";
        dataTable = dbConn.GetData(query);

        machines = new List<M>();

        for (int i = 0; i < dataTable.Rows.Count; i++)
        {
            M mch = new M();
            mch.M1 = Convert.ToString(dataTable.Rows[i]["M1"]);
            mch.M2 = Convert.ToString(dataTable.Rows[i]["M2"]);
            machines.Add(mch);
        }
    }

    public void GetSensorData()
    {
        sensorDetailsQuery = "SELECT * FROM S";
        dataTable = dbConn.GetData(sensorDetailsQuery);

        sensors = new List<S>();

        for (int i = 0; i < dataTable.Rows.Count; i++)
        {
            S snsr = new S();
            snsr.S2 = Convert.ToString(dataTable.Rows[i]["S2"]);
            sensors.Add(snsr);
        }
    }


}